https://www.kaggle.com/uciml/sms-spam-collection-dataset

In [17]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

data = pd.read_csv('dataset_spam.csv', encoding='latin-1')
data.shape

(5572, 5)

In [18]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [19]:
data = data[['v1', 'v2']]
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
data.v1.value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [21]:
data['class'] = data['v1'].map({'ham':0, 'spam':1})
data['message'] = data['v2']
data.drop(columns=['v1', 'v2'], axis=1, inplace=True)
data.columns

Index(['class', 'message'], dtype='object')

In [22]:
train_data = data['message'].values
target_label = data['class'].values
train_data.shape, target_label.shape

((5572,), (5572,))

In [23]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(train_data, target_label, test_size=0.20, stratify=target_label)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((4457,), (4457,), (1115,), (1115,))

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
x_train_ohe = cv.fit_transform(x_train)
x_test_ohe = cv.transform(x_test)
x_train_ohe.shape, x_test_ohe.shape

((4457, 7769), (1115, 7769))

In [25]:
from sklearn.naive_bayes import MultinomialNB

clf = MultinomialNB()
clf.fit(x_train_ohe, y_train)
print(clf.score(x_train_ohe, y_train))
print(clf.score(x_test_ohe, y_test))

0.9946152120260264
0.9829596412556054

In [26]:
from sklearn.metrics import classification_report

y_pred = clf.predict(x_test_ohe)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       966
           1       0.98      0.89      0.93       149

    accuracy                           0.98      1115
   macro avg       0.98      0.94      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [27]:
import joblib

joblib.dump(clf, 'NB_spam_detection.pkl')

['NB_spam_detection.pkl']

In [28]:
nb_spam_dection_model = joblib.load('NB_spam_detection.pkl')

In [30]:
y_pred = nb_spam_dection_model.predict(x_test_ohe)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       966
           1       0.98      0.89      0.93       149

    accuracy                           0.98      1115
   macro avg       0.98      0.94      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [31]:
joblib.dump(cv, 'count_vectorizer.pkl')

['count_vectorizer.pkl']

In [32]:
message_count_vectorizer = joblib.load('count_vectorizer.pkl')

In [36]:
msg_cv = message_count_vectorizer.transform(["i dont want"])

In [40]:
print(msg_cv)

  (0, 2413)	1
  (0, 7388)	1